@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes shake-horizontal {
  0%,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.canteenUITDiv {
  position: absolute;
  height: 100%;
  width: 71.43%;
  top: 0;
  left: 28.57%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerLogoImage {
  position: absolute;
  height: 74.03%;
  width: 24.29%;
  top: 12.99%;
  right: 75.71%;
  bottom: 12.99%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.footerLogoContainer {
  position: absolute;
  height: 77%;
  width: 19.44%;
  top: 11%;
  right: 75.76%;
  bottom: 12%;
  left: 4.79%;
}
.footerSectionDiv {
  position: absolute;
  top: 4051px;
  left: -1px;
  background: linear-gradient(
    90deg,
    rgba(194, 194, 194, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  width: 1440px;
  height: 100px;
  overflow: hidden;
  font-family: var(--font-praise);
}
.divideSection2Icon,
.vectorIcon {
  position: absolute;
  top: 3570px;
  left: 0;
  width: 1440px;
  height: 481px;
  overflow: hidden;
}
.vectorIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.starDiv {
  position: absolute;
  height: 32.43%;
  width: 46.15%;
  top: 5.41%;
  right: 26.92%;
  bottom: 62.16%;
  left: 26.92%;
  border-radius: var(--br-xs);
  background: linear-gradient(90deg, #000 99.99%, rgba(217, 217, 217, 0));
}
.number {
  position: absolute;
  height: 40.54%;
  width: 26.92%;
  top: 40.54%;
  left: 34.62%;
  display: inline-block;
}
.rateDiv {
  position: absolute;
  height: 14.17%;
  width: 8.67%;
  top: 0;
  right: 6.67%;
  bottom: 85.83%;
  left: 84.67%;
}
.menuDishNameText {
  position: absolute;
  height: 9.02%;
  width: 26.67%;
  top: 72.18%;
  left: 36.67%;
  font-size: var(--font-size-base);
  display: inline-block;
  color: var(--color-white);
}
.menuDishImageImage {
  position: absolute;
  height: 48.87%;
  width: 63.33%;
  top: 18.8%;
  right: 18.33%;
  bottom: 32.33%;
  left: 18.33%;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
  height: 12.5%;
  width: 12.5%;
  top: 75%;
  right: 50%;
  bottom: 12.5%;
  left: 37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  right: 20.83%;
  left: 66.67%;
}
.vectorIcon3,
.vectorIcon4 {
  height: 33.21%;
  width: 33.25%;
  top: 20.96%;
  right: 25.04%;
  bottom: 45.83%;
  left: 41.71%;
}
.vectorIcon4 {
  height: 58.33%;
  width: 82.33%;
  top: 12.5%;
  right: 9.33%;
  bottom: 29.17%;
  left: 8.33%;
}
.dishItemCartAddButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 16.17%;
  width: 14.33%;
  top: 81.2%;
  right: 5.33%;
  bottom: 2.63%;
  left: 80.33%;
  overflow: hidden;
}
.menuDishItemCard {
  position: absolute;
  height: 24.74%;
  width: 22.59%;
  top: 7.26%;
  right: 71.84%;
  bottom: 68%;
  left: 5.57%;
  background: linear-gradient(
    180deg,
    rgba(42, 105, 180, 0.5),
    rgba(247, 45, 87, 0.5)
  );
}
.menuDishItemCard1,
.menuDishItemCard2,
.menuDishItemCard3,
.menuDishItemCard4,
.menuDishItemCard5,
.menuDishItemCard6,
.menuDishItemCard7,
.menuDishItemCard8 {
  position: absolute;
  height: 24.74%;
  width: 22.59%;
  top: 37.58%;
  right: 71.84%;
  bottom: 37.67%;
  left: 5.57%;
  background: linear-gradient(
    180deg,
    rgba(42, 105, 180, 0.5),
    rgba(247, 45, 87, 0.5)
  );
}
.menuDishItemCard2,
.menuDishItemCard3,
.menuDishItemCard4,
.menuDishItemCard5,
.menuDishItemCard6,
.menuDishItemCard7,
.menuDishItemCard8 {
  top: 67.91%;
  bottom: 7.35%;
}
.menuDishItemCard3,
.menuDishItemCard4,
.menuDishItemCard5,
.menuDishItemCard6,
.menuDishItemCard7,
.menuDishItemCard8 {
  top: 7.44%;
  right: 38.7%;
  bottom: 67.81%;
  left: 38.7%;
}
.menuDishItemCard4,
.menuDishItemCard5,
.menuDishItemCard6,
.menuDishItemCard7,
.menuDishItemCard8 {
  top: 37.77%;
  bottom: 37.49%;
}
.menuDishItemCard5,
.menuDishItemCard6,
.menuDishItemCard7,
.menuDishItemCard8 {
  top: 68.09%;
  bottom: 7.16%;
}
.menuDishItemCard6,
.menuDishItemCard7,
.menuDishItemCard8 {
  top: 7.26%;
  right: 5.57%;
  bottom: 68%;
  left: 71.84%;
}
.menuDishItemCard7,
.menuDishItemCard8 {
  top: 37.58%;
  bottom: 37.67%;
}
.menuDishItemCard8 {
  top: 67.91%;
  bottom: 7.35%;
}
.menuCardSection {
  position: absolute;
  top: 116px;
  left: 55px;
  background-color: var(--color-white);
  width: 1328px;
  height: 1075px;
  overflow: hidden;
}
.textB {
  position: absolute;
  top: 24.81%;
  left: 32.33%;
  display: inline-block;
}
.menuSideDishTab {
  position: absolute;
  top: 0;
  left: 312px;
  border-radius: var(--br-sm);
  background-color: var(--color-brown);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 70.45px;
}
.textB1 {
  position: absolute;
  top: 24.81%;
  left: 29%;
  font-size: var(--font-size-2xl);
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-brown);
  text-align: left;
}
.menuMainDishTab,
.menuTabsDiv {
  position: absolute;
  height: 70.45px;
}
.menuMainDishTab {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 300px;
}
.menuTabsDiv {
  top: 4px;
  left: 55px;
  width: 612px;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.menuContainerDiv {
  position: absolute;
  top: 127px;
  left: 0;
  width: 1440px;
  height: 1191px;
  overflow: hidden;
}
.hmNaySpan {
  color: var(--color-brown);
}
.menuTitleTextTxt {
  line-break: anywhere;
  width: 100%;
}
.menuTitleDiv,
.menuTitleText {
  position: absolute;
  top: 0;
  width: 463px;
}
.menuTitleText {
  left: 0;
  display: flex;
  align-items: center;
  height: 58.98px;
}
.menuTitleDiv {
  left: 488px;
  height: 74px;
  background-image: url(../../public/menu-title@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.divideSection1,
.menuSectionDiv {
  position: absolute;
  left: 0;
  width: 1440px;
  overflow: hidden;
}
.menuSectionDiv {
  top: 2247px;
  height: 1318px;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-500);
}
.divideSection1 {
  top: 1764px;
  height: 483px;
}
.reccomendationDishItemCard {
  position: absolute;
  height: 38.05%;
  width: 22.68%;
  top: 7.87%;
  right: 74.6%;
  bottom: 54.08%;
  left: 2.72%;
  background: linear-gradient(
    180deg,
    rgba(42, 105, 180, 0.5),
    rgba(247, 45, 87, 0.5)
  );
}
.download1Custom1 {
  position: absolute;
  height: 18.42%;
  width: 14.37%;
  top: 15.11%;
  right: 54.93%;
  bottom: 66.47%;
  left: 30.7%;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.reccomendationDishItemCard1,
.reccomendationDishItemCard2,
.reccomendationDishItemCard3 {
  position: absolute;
  height: 38.05%;
  width: 22.68%;
  top: 53.79%;
  right: 74.6%;
  bottom: 8.15%;
  left: 2.72%;
  background: linear-gradient(
    180deg,
    rgba(42, 105, 180, 0.5),
    rgba(247, 45, 87, 0.5)
  );
}
.reccomendationDishItemCard2,
.reccomendationDishItemCard3 {
  top: 7.87%;
  right: 50.79%;
  bottom: 54.08%;
  left: 26.53%;
}
.reccomendationDishItemCard3 {
  width: 22.6%;
  top: 53.79%;
  right: 50.87%;
  bottom: 8.15%;
}
.reccomendationDishItemCard4,
.reccomendationDishItemCard5,
.reccomendationDishItemCard6,
.reccomendationDishItemCard7 {
  position: absolute;
  height: 38.05%;
  width: 22.68%;
  top: 7.87%;
  right: 26.98%;
  bottom: 54.08%;
  left: 50.34%;
  background: linear-gradient(
    180deg,
    rgba(42, 105, 180, 0.5),
    rgba(247, 45, 87, 0.5)
  );
}
.reccomendationDishItemCard5,
.reccomendationDishItemCard6,
.reccomendationDishItemCard7 {
  top: 53.79%;
  bottom: 8.15%;
}
.reccomendationDishItemCard6,
.reccomendationDishItemCard7 {
  top: 7.87%;
  right: 3.17%;
  bottom: 54.08%;
  left: 74.15%;
}
.reccomendationDishItemCard7 {
  top: 53.79%;
  bottom: 8.15%;
}
.recommendationCardSection {
  position: absolute;
  top: 196px;
  left: 55px;
  background-color: var(--color-white);
  width: 1329px;
  height: 695px;
  overflow: hidden;
}
.reccomendationMainDishTab {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: relative;
  border-radius: var(--br-sm);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 70.45px;
  flex-shrink: 0;
}
.textB3 {
  position: absolute;
  top: 24.81%;
  left: 32.33%;
  font-size: var(--font-size-2xl);
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-white);
  text-align: left;
}
.reccomendationSideDishTab {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: relative;
  border-radius: var(--br-sm);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 70.45px;
  flex-shrink: 0;
}
.recommendationTabsDiv {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.recommendationContainerDiv {
  position: absolute;
  top: 63px;
  left: 0;
  width: 1440px;
  height: 891px;
}
.recommendationTitleText {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 376px;
}
.recommendationTitleDiv {
  position: absolute;
  top: 0;
  left: 524px;
  width: 376px;
  height: 68px;
  background-image: url(../../public/recommendation-title@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.recommendationSectionDiv {
  position: absolute;
  top: 807px;
  left: 0;
  width: 1440px;
  height: 954px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-500);
}
.triNghimTMnOnlineTi {
  margin-block-start: 0;
  margin-block-end: 0;
}
.canteenUITP {
  margin: 0;
  font-size: var(--font-size-6xl);
  color: var(--color-brown);
  font-family: var(--font-praise);
}
.bannerTitleText {
  position: absolute;
  top: 37px;
  left: 90px;
  display: flex;
  align-items: center;
  width: 530px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.giiThiuDch {
  margin: 0;
}
.bannerContentText {
  position: absolute;
  top: 264px;
  left: 90px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  display: flex;
  align-items: center;
  width: 517px;
}
.landingBannerImage {
  position: absolute;
  top: 77px;
  left: 772px;
  border-radius: var(--br-xl);
  width: 542px;
  height: 420px;
  object-fit: cover;
}
.textB4 {
  position: absolute;
  height: 60.87%;
  width: 71.43%;
  top: 19.57%;
  left: 15.71%;
  font-size: var(--font-size-2xs);
  display: flex;
  font-family: var(--font-arial);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bannerOrderButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: absolute;
  top: 483px;
  left: 167px;
  border-radius: var(--br-sm);
  width: 140px;
  height: 34px;
}
.bannerOrderButton:hover {
  animation: 1s ease 0s infinite normal forwards shadow-pop-tr;
  opacity: 1;
}
.bannerOrderButton:active {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.bannerSectionDiv {
  position: absolute;
  top: 117px;
  left: 0;
  width: 1440px;
  height: 629px;
  overflow: hidden;
  background-image: url(../../public/banner-section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
}
.headerLogoContainer {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  position: relative;
  height: 77px;
  color: inherit;
}
.textB5 {
  position: absolute;
  top: 13.33%;
  left: -36.59%;
  display: inline-block;
}
.textA {
  cursor: pointer;
  text-decoration: none;
  top: 0;
  left: 500px;
  width: 41px;
  height: 30px;
  color: inherit;
}
.textA,
.textA1,
.textB6 {
  position: absolute;
}
.textB6 {
  top: 13.33%;
  left: -53.66%;
  display: inline-block;
}
.textA1 {
  cursor: pointer;
  text-decoration: none;
  top: 0;
  left: 375px;
  width: 41px;
  height: 30px;
  color: inherit;
}
.textA1:hover,
.textA2:hover,
.textA3:hover {
  mix-blend-mode: soft-light;
}
.textB7 {
  top: 13.33%;
  left: -39.02%;
  display: inline-block;
}
.textA2,
.textB7,
.textB8 {
  position: absolute;
}
.textA2 {
  cursor: pointer;
  text-decoration: none;
  top: 0;
  left: 250px;
  width: 41px;
  height: 30px;
  color: inherit;
}
.textB8 {
  top: 13.33%;
  left: -65.85%;
  display: inline-block;
}
.textA3 {
  cursor: pointer;
  text-decoration: none;
  top: 0;
  left: 125px;
  width: 41px;
  height: 30px;
  color: inherit;
}
.textA3,
.textA4,
.textB9 {
  position: absolute;
}
.textB9 {
  top: 13.33%;
  left: -68.29%;
  display: inline-block;
}
.textA4 {
  text-decoration: none;
  top: 0;
  left: 0;
  width: 41px;
  height: 30px;
  color: var(--color-brown);
}
.headerNavigationBar {
  position: relative;
  width: 541px;
  height: 30px;
  flex-shrink: 0;
}
.vectorIcon85,
.vectorIcon86,
.vectorIcon87,
.vectorIcon88 {
  position: absolute;
  height: 104.65%;
  width: 116.28%;
  top: 0;
  right: -16.28%;
  bottom: -4.65%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon86,
.vectorIcon87,
.vectorIcon88 {
  height: 13.65%;
  width: 13.11%;
  top: 86.35%;
  right: 23.48%;
  bottom: 0;
  left: 63.41%;
}
.vectorIcon87,
.vectorIcon88 {
  right: 64.94%;
  left: 21.95%;
}
.vectorIcon88 {
  height: 71.07%;
  width: 89.2%;
  top: 10.16%;
  right: 10.8%;
  bottom: 18.77%;
  left: 0;
}
.ellipseIcon,
.number17 {
  position: absolute;
  height: 38.1%;
  width: 36.59%;
  top: 0;
  left: 63.41%;
}
.ellipseIcon {
  right: 0;
  bottom: 61.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.number17 {
  font-size: var(--font-size-xs);
  display: flex;
  font-family: var(--font-arial);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.shoppingDiv {
  position: absolute;
  height: 91.57%;
  width: 82%;
  top: 4.65%;
  right: 10%;
  bottom: 3.78%;
  left: 8%;
}
.headerShoppingCartButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 50px;
  height: 43px;
  flex-shrink: 0;
  overflow: hidden;
}
.headerShoppingCartButton:hover {
  cursor: grab;
}
.headerShoppingCartButton:active {
  animation: 1s ease 0s infinite normal none shake-horizontal;
  opacity: 1;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
}
.textB10 {
  position: absolute;
  height: 58.82%;
  width: 78.57%;
  top: 20.59%;
  left: 10.71%;
  font-size: var(--font-size-sm);
  display: flex;
  font-family: var(--font-arial);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.headerSignInButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 140px;
  height: 34px;
  flex-shrink: 0;
}
.headerSignInButton:hover {
  animation: 1s ease 0s infinite normal forwards shadow-pop-tr;
  opacity: 1;
}
.headerSignInButton:active {
  animation: 1s ease 0s infinite reverse backwards shadow-pop-tr;
  opacity: 1;
}
.frameDiv,
.headerSectionDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.frameDiv {
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-arial);
}
.headerSectionDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1439px;
  padding: var(--padding-xs) var(--padding-sm);
  box-sizing: border-box;
  font-family: var(--font-praise);
}
.uI01HomeSidedishDiv {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 4151px;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-brown);
  font-family: var(--font-arial);
}
