@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
.canteenUITDiv,
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: 298px;
  left: 0;
  width: 486px;
  height: 706px;
}
.canteenUITDiv,
.vectorIcon1 {
  top: 0;
  left: 1059px;
  height: 519px;
}
.canteenUITDiv {
  height: 100%;
  width: 71.43%;
  left: 28.57%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerLogoImage {
  position: absolute;
  height: 74.03%;
  width: 24.29%;
  top: 12.99%;
  right: 75.71%;
  bottom: 12.99%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.footerLogoContainer {
  position: absolute;
  height: 77%;
  width: 19.44%;
  top: 11%;
  right: 75.76%;
  bottom: 12%;
  left: 4.79%;
}
.footerSectionDiv {
  position: absolute;
  top: 924px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(194, 194, 194, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  width: 1440px;
  height: 100px;
  overflow: hidden;
  font-family: var(--font-praise);
}
.triNghimTMnOnlineTi {
  margin-block-start: 0;
  margin-block-end: 0;
}
.canteenUITP {
  margin: 0;
  font-size: var(--font-size-6xl);
  color: var(--color-brown);
  font-family: var(--font-praise);
}
.bannerTitleTextTxt {
  line-break: anywhere;
  width: 100%;
}
.bannerTitleText {
  position: relative;
  display: flex;
  align-items: center;
  width: 556px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.bannerLandingImageImage {
  position: relative;
  border-radius: var(--br-xl);
  width: 542px;
  height: 420px;
  flex-shrink: 0;
  object-fit: cover;
}
.bannerDiv {
  height: 651px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.frameInput,
.frameInput1 {
  border: 3px solid var(--color-brown);
  background-color: transparent;
  position: absolute;
  top: 192px;
  left: 0;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  width: 373px;
  height: 60px;
  overflow: hidden;
}
.frameInput1 {
  top: 107px;
}
.textB {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 20%;
  left: 20%;
  font-size: var(--font-size-sm);
  display: flex;
  font-family: var(--font-arial);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.signInButton,
.signUpButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: absolute;
  top: 289px;
  left: 0;
  border-radius: var(--br-sm);
  width: 373px;
  height: 60px;
}
.signInButton:hover {
  animation: 3s ease 0s infinite normal forwards shadow-pop-tr;
  opacity: 1;
}
.signInButton:active {
  animation: 1s ease 0s infinite reverse backwards shadow-pop-tr;
  opacity: 1;
}
.signUpButton {
  top: 410px;
}
.signUpButton:hover {
  animation: 3s ease 0s infinite normal forwards shadow-pop-tr;
  opacity: 1;
}
.signUpButton:active {
  animation: 1s ease 0s infinite normal backwards shadow-pop-tr;
  opacity: 1;
}
.forgotPasswordLinkB {
  position: absolute;
  top: 254px;
  left: 0;
  display: flex;
  align-items: center;
  width: 241px;
  height: 38px;
}
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  top: 11px;
  left: 273px;
  width: 101px;
  height: 2px;
}
.vectorIcon3 {
  left: -1px;
  width: 106px;
}
.textB2 {
  position: absolute;
  top: 0;
  left: 115px;
  display: inline-block;
}
.textDiv {
  position: absolute;
  top: 374px;
  left: 0;
  width: 373px;
  height: 18px;
  color: var(--color-black);
}
.loginFormTitleText {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-4xl);
  display: flex;
  color: var(--color-gray-500);
  align-items: center;
  width: 261px;
}
.loginFormDiv {
  position: relative;
  width: 373px;
  height: 470px;
  flex-shrink: 0;
  font-size: var(--font-size-sm);
  color: var(--color-brown);
}
.loginSectionDiv {
  position: absolute;
  top: 127px;
  left: 0;
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) 73px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
}
.headerLogoContainer {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  width: 280px;
  height: 77px;
  flex-shrink: 0;
  color: inherit;
  font-family: var(--font-praise);
}
.headerLogoContainer:hover {
  cursor: grab;
}
.headerLogoContainer:active {
  cursor: grabbing;
}
.textB3,
.textB4,
.textB5,
.textB6,
.trangCh {
  position: absolute;
  top: 0;
  left: 87.84%;
  display: inline-block;
}
.textB4,
.textB5,
.textB6,
.trangCh {
  left: 65.24%;
}
.textB5,
.textB6,
.trangCh {
  left: 44.86%;
}
.textB6,
.trangCh {
  left: 21.58%;
}
.trangCh {
  cursor: pointer;
  text-decoration: none;
  left: 0;
  font-weight: 700;
  color: inherit;
}
.trangCh:hover {
  mix-blend-mode: soft-light;
  cursor: grab;
}
.trangCh:active {
  cursor: grabbing;
}
.headerNavigationBar {
  position: relative;
  width: 584px;
  height: 23px;
  flex-shrink: 0;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon4 {
  height: 104.65%;
  width: 116.28%;
  top: 0;
  right: -16.28%;
  bottom: -4.65%;
  left: 0;
  display: none;
}
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
  height: 13.65%;
  width: 13.11%;
  top: 86.35%;
  right: 23.48%;
  bottom: 0;
  left: 63.41%;
}
.vectorIcon6,
.vectorIcon7 {
  right: 64.94%;
  left: 21.95%;
}
.vectorIcon7 {
  height: 71.07%;
  width: 89.2%;
  top: 10.16%;
  right: 10.8%;
  bottom: 18.77%;
  left: 0;
}
.ellipseIcon,
.number {
  position: absolute;
  height: 38.1%;
  width: 36.59%;
  top: 0;
  left: 63.41%;
}
.ellipseIcon {
  right: 0;
  bottom: 61.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.number {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shoppingDiv {
  position: absolute;
  height: 91.57%;
  width: 82%;
  top: 4.65%;
  right: 10%;
  bottom: 3.78%;
  left: 8%;
}
.headerShoppingCartButton {
  position: relative;
  width: 50px;
  height: 43px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.button,
.textB7 {
  position: absolute;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
}
.textB7 {
  height: 58.82%;
  width: 78.57%;
  top: 20.59%;
  left: 10.71%;
  font-size: var(--font-size-sm);
  display: flex;
  font-family: var(--font-arial);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.headerSignInButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 140px;
  height: 34px;
  flex-shrink: 0;
}
.headerSignInButton:hover {
  animation: 3s ease 0s infinite normal forwards shadow-pop-tr;
  opacity: 1;
}
.headerSignInButton:active {
  animation: 1s ease 0s infinite normal backwards shadow-pop-tr;
  opacity: 1;
}
.headerSectionDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1436px;
  display: flex;
  flex-direction: row;
  padding: 25px 59px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.uI02LogInDiv {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-brown);
  font-family: var(--font-arial);
}
