.canteenUITDiv,
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: 298px;
  left: 0;
  width: 486px;
  height: 706px;
}
.canteenUITDiv,
.vectorIcon1 {
  top: 0;
  left: 1059px;
  height: 519px;
}
.canteenUITDiv {
  height: 100%;
  width: 71.43%;
  left: 28.57%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerLogoImage {
  position: absolute;
  height: 74.03%;
  width: 24.29%;
  top: 12.99%;
  right: 75.71%;
  bottom: 12.99%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.footerLogoContainer {
  position: absolute;
  height: 77%;
  width: 19.44%;
  top: 11%;
  right: 75.76%;
  bottom: 12%;
  left: 4.79%;
}
.footerSectionDiv {
  position: absolute;
  top: 924px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(194, 194, 194, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  width: 1440px;
  height: 100px;
  overflow: hidden;
  font-family: var(--font-praise);
}
.titleB {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orderTitleDiv {
  position: absolute;
  top: 66px;
  left: 220px;
  width: 1000px;
  height: 50px;
  font-size: var(--font-size-3xl);
}
.boxDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
}
.dayDiv,
.statusDiv,
.textDiv,
.textDiv1 {
  position: absolute;
  height: 22.8%;
  width: 13.88%;
  top: 8.81%;
  left: 50.35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dayDiv,
.statusDiv,
.textDiv1 {
  width: 16.94%;
  top: 61.66%;
}
.statusDiv,
.textDiv1 {
  width: 13.53%;
  top: 8.81%;
  left: 77.06%;
}
.statusDiv {
  width: 19.06%;
  top: 61.66%;
  color: var(--color-green);
}
.textDiv2 {
  width: 19.65%;
  top: 8.81%;
  left: 3.29%;
}
.numberDiv,
.orderIDDiv,
.textDiv2,
.textDiv3 {
  position: absolute;
  height: 22.8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orderIDDiv {
  width: 19.65%;
  top: 61.66%;
  left: 2.71%;
  color: var(--color-teal);
}
.numberDiv,
.textDiv3 {
  width: 11.29%;
  top: 8.81%;
  left: 28.71%;
}
.numberDiv {
  width: 14.94%;
  top: 61.66%;
}
.vectorDiv {
  position: absolute;
  height: 0.52%;
  width: 86.12%;
  top: 42.23%;
  right: 9.35%;
  bottom: 57.25%;
  left: 4.53%;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.orderDiv,
.orderDiv1,
.textB {
  position: absolute;
  top: 403px;
  left: 523px;
  width: 850px;
  height: 193px;
}
.orderDiv1,
.textB {
  top: 153px;
}
.textB {
  height: 53.85%;
  width: 84.99%;
  top: 24.36%;
  left: 6.36%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orderCancelButton,
.orderHistoryButton {
  position: absolute;
  left: 64px;
  width: 393px;
  height: 78px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.orderHistoryButton {
  top: 253px;
  background-image: url(../../public/order-history-button@3x.png);
  cursor: pointer;
  color: var(--color-brown);
}
.orderCancelButton {
  top: 153px;
  background-image: url(../../public/order-cancel-button@3x.png);
  color: var(--color-white);
}
.trnThM {
  color: var(--color-brown);
}
.orderSectionContentTxt {
  line-break: anywhere;
  width: 100%;
}
.orderSectionContent {
  position: absolute;
  top: 15px;
  left: 64px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 378px;
  height: 62px;
}
.orderSectionDiv {
  position: absolute;
  top: 128px;
  left: 0;
  width: 1440px;
  height: 796px;
  overflow: hidden;
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
}
.headerLogoContainer {
  position: absolute;
  height: 60.63%;
  width: 19.44%;
  top: 19.69%;
  right: 76.11%;
  bottom: 19.69%;
  left: 4.44%;
  font-family: var(--font-praise);
}
.dashiconsarrowLeft {
  position: absolute;
  top: 8px;
  left: 33px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.avatarIcon,
.headerProfileDropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 53px;
  height: 35px;
}
.headerProfileDropdown {
  top: 48px;
  left: 1289px;
}
.textB2 {
  position: absolute;
  top: 13.33%;
  left: -36.59%;
  display: inline-block;
}
.textDiv8 {
  position: absolute;
  top: 0;
  left: 500px;
  width: 41px;
  height: 30px;
}
.textB3 {
  position: absolute;
  top: 13.33%;
  left: -53.66%;
  display: inline-block;
}
.textDiv9 {
  position: absolute;
  top: 0;
  left: 375px;
  width: 41px;
  height: 30px;
}
.textB4 {
  position: absolute;
  top: 13.33%;
  left: -68.29%;
  display: inline-block;
  cursor: pointer;
}
.textDiv10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 30px;
}
.textB5 {
  position: absolute;
  top: 13.33%;
  left: -65.85%;
  display: inline-block;
  cursor: pointer;
}
.textDiv11 {
  position: absolute;
  top: 0;
  left: 125px;
  width: 41px;
  height: 30px;
}
.textB6 {
  position: absolute;
  top: 13.33%;
  left: -39.02%;
  display: inline-block;
}
.headerNavigationBar,
.textDiv12 {
  position: absolute;
  top: 0;
  left: 250px;
  width: 41px;
  height: 30px;
  color: var(--color-brown);
}
.headerNavigationBar {
  top: 49px;
  left: 500px;
  width: 541px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.shoppingIcon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 43px;
  height: 43px;
  overflow: hidden;
}
.b,
.ellipseIcon {
  position: absolute;
  top: 0;
  left: 30px;
  width: 15px;
  height: 15px;
}
.b {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerShoppingCartButton {
  position: absolute;
  top: 42px;
  left: 1108px;
  width: 45px;
  height: 44px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.headerSectionDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 127px;
  overflow: hidden;
}
.uI07OrderHistory1Div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-brown);
  font-family: var(--font-arial);
}
