@import url("https://fonts.googleapis.com/css2?family=Praise:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-arial: Arial;
  --font-praise: Praise;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-2xs: 14px;
  --font-size-xs: 15px;
  --font-size-sm: 16px;
  --font-size-base: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 28px;
  --font-size-2xl: 30px;
  --font-size-3xl: 35px;
  --font-size-4xl: 48px;
  --font-size-5xl: 52px;
  --font-size-6xl: 70px;

  /* Colors */
  --color-gray-100: #fff9f5;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #8c8c8c;
  --color-gray-400: #2a69b4;
  --color-gray-500: #3f3f3f;
  --color-white: #fff;
  --color-brown: #f72d57;
  --color-black: #000;
  --color-teal: #0394e5;
  --color-green: #00b833;
  --color-red: #fd2925;

  /* Gaps */
  --gap-sm: 13px;
  --gap-md: 102px;

  /* Paddings */
  --padding-xs: 20px;
  --padding-sm: 61px;
  --padding-md: 62px;
  --padding-lg: 63px;
  --padding-xl: 70px;

  /* border radiuses */
  --br-xs: 0.2px;
  --br-sm: 5px;
  --br-md: 10px;
  --br-lg: 26px;
  --br-xl: 37px;
}
